/* bacic css */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-color {
    color: orangered;
    text-transform: uppercase;
}

.btn-nav {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px 15px 32px;
    height: 64px;
    border-radius: 5px;
    background: orangered;
}

.btn-contact {
    color: orangered;
    font-weight: 700;
    font-size: 20px;
    border: 1px solid orangered;
    padding: 18px 35px 16px 33px;
    height: 64px;
    border-radius: 5px;
    margin-left: 30px;
}

/* header and nav */
.header {
    background: white;
    background-image: url('./images/header-bg1.png'), url('./images/developer.png');
    background-repeat: no-repeat;
    background-position: cover, left;
    background-size: auto, 85px;
    overflow: hidden;

}

nav {
    display: flex;
    justify-content: space-between;
    margin: 51px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}


/* list */
.hnav ul {
    display: flex;
    align-items: center;
}

.hnav li {
    list-style: none;
    margin-left: 50px;
}

/* banner  */
.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-top: 5px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
}

.bannerp {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-top: 20px;
    margin-bottom: 30px;
}

.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

/* main section */

.main-sec {
    max-width: 1140px;
    margin: 0 auto;
}

/* section  */

.sec-about {
    margin: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 131px 157px 156px;
    text-align: center;
}

.sec-ti {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
    color: #181818;
}

.sec-dep {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* about info */
.ab-info-container {
    display: flex;
    justify-content: space-around;
}

.ab-info {
    margin-left: 5px;
}

.info-title {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}

.info-des {
    font-weight: 700;
    font-size: 20px;
    color: #474747;

}

/* what i do  */

.whati {
    margin: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    text-align: center;
}

/* skills  */
.my-skills {
    display: flex;
    gap: 25px ;
    background: #FFFFFF;
}

.skill {}

.skill-title {
    font-weight: 700;
    font-size: 20px;
}

.skill-dec {}